{% extends 'base.html' %}
{% load static %}

{% block title %} {{ request.user.username }} Profile {% endblock %}

{% block content %}

    <style type="text/css">
        .profile_picture img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 3px solid #f3f3f3;
        }
    </style>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
        <div class="section-block">
            <h5 class="section-title text-capitalize">{{ request.user.username }} Overview</h5>
            <h3>Hello, {{ profile_ctx }}</h3>
        </div>
        <div class="tab-vertical">
            <ul class="nav nav-tabs" id="myTab3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-vertical-tab" data-toggle="tab" href="#home-vertical" role="tab"
                       aria-controls="home" aria-selected="true">Hello, I'm {{ request.user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-vertical-tab" data-toggle="tab" href="#profile-vertical"
                       role="tab"
                       aria-controls="profile" aria-selected="false">My Bio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="order" data-toggle="tab" href="#orders"
                       role="tab"
                       aria-controls="contact" aria-selected="false">Other Information</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent3">
                <div class="tab-pane fade show active" id="home-vertical" role="tabpanel"
                     aria-labelledby="home-vertical-tab">
                    {% if request.user.first_name %}First Name:
                        <input class="form-control form-control-sm" disabled type="text"
                               value="{{ request.user.first_name }}"/>{% endif %}
                    {% if request.user.last_name %} Last Name:
                        <input class="form-control form-control-sm" disabled type="text"
                               value="{{ request.user.last_name }}"/>{% endif %}
                    {% if profile_ctx.make_full_name %}  Full Name
                        <input class="form-control form-control-sm" disabled type="text"
                               value="{{ profile_ctx.make_full_name }}"/> {% endif %}
                    {% if request.user.nid_number %} NID Number
                        <input class="form-control form-control-sm" disabled type="text"
                               value="{{ request.user.nid_number }}"/>{% endif %}
                    {% if request.user.phone_number %}Phone Number
                        <input class="form-control form-control-sm" disabled type="text"
                               value="{{ request.user.phone_number }}"/>  {% endif %}
                    {% if request.user.email %} Email Address
                        <input class="form-control form-control-sm" disabled type="text"
                               value="{{ request.user.email }}"/> {% endif %}
                    {% if profile_ctx.address %} Address<input class="form-control form-control-sm" disabled type="text"
                                                               value="{{ profile_ctx.address }}"/> {% endif %}
                    {% if request.user.last_login %} Last Login
                        <input class="form-control form-control-sm" disabled type="text"
                               value="{{ request.user.last_login }}"/> {% endif %}
                </div>
                <div class="tab-pane fade" id="profile-vertical" role="tabpanel" aria-labelledby="profile-vertical-tab">
                    <h3>Secondary Information</h3>
                    <div class="row">
                        <div class="col-md-9">
                            {% if profile_ctx.word_number %} Word Number
                                <input class="form-control form-control-sm" disabled type="text"
                                       value="{{ profile_ctx.word_number }}"/> {% endif %}
                            {% if profile_ctx.union %} Union Address
                                <input class="form-control form-control-sm" disabled type="text"
                                       value="{{ profile_ctx.union }}"/> {% endif %}
                            {% if profile_ctx.birth_date %} Date Of  Birthday
                                <input class="form-control form-control-sm" disabled type="text"
                                       value="{{ profile_ctx.birth_date }}"/> {% endif %}
                            {% if profile_ctx.current_age %} Date Of  Birthday
                                <input class="form-control form-control-sm" disabled type="text"
                                       value="{{ profile_ctx.current_age }} Days"/> {% endif %}
                        </div>
                        <div class="col-md-3">
                            <div class="profile_picture">
                                {% if profile_ctx.profile_picture.url %}
                                    <img src="{{ profile_ctx.profile_picture.url }}" alt="{{ request.user.username }}">
                                    {% else %}
                                    <img src="{% static 'assets/images/avatar-2.jpg' %}" alt="">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="order">
                    <div class="card">
                        <h5 class="card-header">Others</h5>
                        <div class="card-body">
                            <h2>Comming soon</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
