{% extends 'base.html' %}

{% block title %} Candidate Details || Election {% endblock %}


{% block content %}
    <!-- page header  -->
    {% include "symbol/pageheader.html" %}
    <!-- end page header  -->
    <div class="row">
        <!-- start table -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">{{ nomination.candidate }} Details</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email_address">Candidate Email Address</label>
                                <input disabled value="{{ nomination.email_address }}" type="text"
                                       class="form-control form-control-sm"/>
                            </div>
                            <div class="form-group">
                                <label for="qualification">Candidate Qualification</label>
                                <input disabled value="{{ nomination.qualification }}" type="text"
                                       class="form-control form-control-sm"/>
                            </div>
                            <div class="form-group">
                                <label for="profession">Candidate Profession</label>
                                <input disabled value="{{ nomination.profession }}" type="text"
                                       class="form-control form-control-sm"/>
                            </div>
                            <div class="form-group">
                                <label for="eduction">Candidate Education</label>
                                <input disabled value="{{ nomination.eduction }}" type="text"
                                       class="form-control form-control-sm"/>
                            </div>
                            <div class="form-group">
                                <label for="present_address">Candidate Present Address</label>
                                <input disabled value="{{ nomination.present_address }}" type="text"
                                       class="form-control form-control-sm"/>
                            </div>
                            <div class="form-group">
                                <label for="phone_number">Candidate Phone Number</label>
                                <input disabled value="{{ nomination.phone_number }}" type="text"
                                       class="form-control form-control-sm"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="position">Candidate Position</label>
                                <input disabled value="{{ nomination.position }}" type="text"
                                       class="form-control form-control-sm"/>
                            </div>
                            <div class="form-group">
                                <label for="father_name">Candidate Father Name</label>
                                <input disabled value="{{ nomination.father_name }}" type="text"
                                       class="form-control form-control-sm"/>
                            </div>
                            <div class="form-group">
                                <label for="mother_name">Candidate Mother Name</label>
                                <input disabled value="{{ nomination.mother_name }}" type="text"
                                       class="form-control form-control-sm"/>
                            </div>
                            <div class="form-group">
                                <label for="symbol_name">Candidate Symbol Name</label>
                                <input disabled value="{{ nomination.symbol_name }}" type="text"
                                       class="form-control form-control-sm"/>
                            </div>
                            <div class="form-group">
                                <label for="is_approve">Candidate Approve</label>
                                <input disabled
                                       value="{% if is_approve %} Approve Done {% else %} Still Pending {% endif %}"
                                       type="text"
                                       class="form-control form-control-sm"/>
                            </div>
                            <div class="form-group">
                                <label for="created_at">Candidate Application Date</label>
                                <input disabled value="{{ nomination.created_at }}" type="text"
                                       class="form-control form-control-sm"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end table -->
    </div>
{% endblock %}
