{% extends 'base.html' %}

{% block title %} Nomination list || Election {% endblock %}


{% block content %}
    <!-- page header  -->
    {% include "symbol/pageheader.html" %}
    <!-- end page header  -->
    <div class="row">
        <!-- start table -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">{% if request.user.is_superuser %} List of nomination {% else %} My nomination
                    list {% endif %}</h5>
                <div class="card-body">
                    {% if nomination %}
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Candidate Name</th>
                                <th>Qualification</th>
                                <th>Profession</th>
                                <th class="text-center">Status</th>
                                <th>Created Date</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for obj in nomination %}
                                <tr>
                                    <td>{{ obj.candidate }}</td>
                                    <td>{{ obj.qualification }}</td>
                                    <td>{{ obj.profession }}</td>
                                    <td align="center">{% if obj.status == True %}
                                        <span style="padding: 5px; border-radius: 6px"
                                              class="btn-success">Approve</span> {% else %}
                                        <span style="padding: 5px; border-radius: 6px"
                                              class="btn-danger">Pending</span> {% endif %}</td>
                                    <td>{{ obj.created_at }}</td>
                                    <td align="center">
                                        <a title="Details the candidates" style="margin-right: 5px"
                                           class="btn-sm btn-success" href="{% url 'candidates_details' obj.id %}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a title="Update the candidates" style="margin-right: 5px"
                                           class="btn-sm btn-success" href="{% url 'candidates_update' obj.id %}">
                                            <i class="fa fa-pen-square"></i>
                                        </a>
                                        <a title="Delete the candidates" class="btn-sm btn-danger" href="#">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h3 class="text-center text-danger">
                            {% if request.user.is_superuser %} Sorry! No Candidate Found. {% else %} Please
                                wait... {% endif %}
                        </h3>
                    {% endif %}
                    <!-- pagination -->
                    {% if is_paginated %}
                        {% include "symbol/pagination.html" %}
                    {% endif %}
                    <!-- end pagination -->
                </div>
            </div>
        </div>
        <!-- end table -->
    </div>
{% endblock %}
