{% extends 'base.html' %}
{% load static %}

{% block title %} {{ request.user.username }} Profile {% endblock %}

{% block content %}


    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Your nomination submit preview profile</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-5">
                    {% if profile.candidate.make_full_name %}
                        <div class="form-group">
                            <label for="full_name">Full Name:</label>
                            <input class="form-control form-control-sm" disabled type="text"
                                   value="{{ profile.candidate.make_full_name }}"/>
                        </div>
                    {% endif %}
                    {% if profile.qualification %}
                        <div class="form-group">
                            <label for="qualification">Qualification:</label>
                            <input class="form-control form-control-sm" disabled type="text"
                                   value="{{ profile.qualification }}"/>
                        </div>
                    {% endif %}
                    {% if profile.profession %}
                        <div class="form-group">
                            <label for="profession">Profession:</label>
                            <input class="form-control form-control-sm" disabled type="text"
                                   value="{{ profile.profession }}"/>
                        </div>
                    {% endif %}
                    {% if profile.eduction %}
                        <div class="form-group">
                            <label for="eduction">Eduction:</label>
                            <input class="form-control form-control-sm" disabled type="text"
                                   value="{{ profile.eduction }}"/>
                        </div>
                    {% endif %}
                    {% if profile.present_address %}
                        <div class="form-group">
                            <label for="present_address">Present Address:</label>
                            <input class="form-control form-control-sm" disabled type="text"
                                   value="{{ profile.present_address }}"/>
                        </div>
                    {% endif %}
                    {% if profile.phone_number %}
                        <div class="form-group">
                            <label for="phone_number">Phone Number:</label>
                            <input class="form-control form-control-sm" disabled type="text"
                                   value="{{ profile.phone_number }}"/>
                        </div>
                    {% endif %}
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-5">
                {% if profile.email_address %}
                        <div class="form-group">
                            <label for="email_address">Email Address:</label>
                            <input class="form-control form-control-sm" disabled type="text"
                                   value="{{ profile.email_address }}"/>
                        </div>
                    {% endif %}
                    {% if profile.father_name %}
                        <div class="form-group">
                            <label for="father_name">Father Name:</label>
                            <input class="form-control form-control-sm" disabled type="text"
                                   value="{{ profile.father_name }}"/>
                        </div>
                    {% endif %}
                    {% if profile.mother_name %}
                        <div class="form-group">
                            <label for="mother_name">Mother Name:</label>
                            <input class="form-control form-control-sm" disabled type="text"
                                   value="{{ profile.mother_name }}"/>
                        </div>
                    {% endif %}
                    {% if profile.position %}
                        <div class="form-group">
                            <label for="position">Which Position:</label>
                            <input class="form-control form-control-sm" disabled type="text"
                                   value="{% if profile.position == 1 %} Chairman {% elif profile.position == 2 %} Member {% else %}Word Chairman{% endif %}"/>
                        </div>
                    {% endif %}
                    {% if profile.symbol_name.name %}
                        <div class="form-group">
                            <label for="created_at">Symbol Name:</label>
                            <input class="form-control form-control-sm" disabled type="text"
                                   value="{{ profile.symbol_name.name }}"/>
                        </div>
                    {% endif %}
                    {% if profile.created_at %}
                        <div class="form-group">
                            <label for="created_at">Application Submit Date:</label>
                            <input class="form-control form-control-sm" disabled type="text"
                                   value="{{ profile.created_at }}"/>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
