{% extends 'base_auth.html' %}
{% load static %}

{% block title %} Reset password {% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header text-center">
            <a href="{% url 'dashboard' %}">
                <img class="logo-img" src="{% static 'assets/images/logo.png' %}" alt="logo"></a>
        </div>
        <div class="card-body form_submit">
            <form action="/login/" method="POST">
                {% csrf_token %}
                <div class="from-group">
                    {{ form }}
                </div>
                <button class="btn btn-info btn-sm" type="submit"> Send email</button>
            </form>
            <hr/>
            <div class="text-center">
                <a href="{% url 'homepage' %}">Return to home page</a>
            </div>
        </div>
    </div>

    <style type="text/css">
        .form_submit input {
            margin-bottom: 10px;
            display: block;
            width: 100%;
            font-size: 14px;
            line-height: 1.42857143;
            color: #71748d;
            background-color: #fff;
            border: 1px solid #d2d2e4;
            border-radius: 5px;
            padding: 10px;
        }
    </style>

{% endblock %}
